<div class="text-center">
  <h1>ユーザー情報の編集</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "名前" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: "パスワード(6〜16文字)" %>
      </div>

      <div class="form-group">
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, :prompt => "都道府県を選択" %>
      </div>

      <%= f.submit '変更する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
