<div class="row users_showpage">
  <aside class="col-md-4">
    <div class="card user_setting">
      <div class="card-header card-name">
        <h3 class="card-title users_name"><%= @user.name %>さん</h3>
      </div>
      <div class="card-body">
        <ul class="users_info">
          <li>作成したコース<%= @count_walkcourses %>件</li>
          <li>お気に入り登録<%= @count_favorites %>件</li>
          <li class="cog_button"><i class="fas fa-cog"></i><%= link_to '設定', edit_user_path(@user) %></li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="col-md-8 user_show_contents">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">作成したコース</a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入りコース</a></li>
    </ul>
    <%= render 'walkcourses/walkcourses', walkcourses: @walkcourses, user: @user %>
  </div>
</div>
