<div class="top-wrapper">
    <div class="service-phrase">
        <h1>
            <span>さんぽを通して</span>
            <br>
            <span>生活をたのしく、ゆたかに。</span>
            <br>
        </h1>
    </div>
</div>

<div class="main">
    <div class="sns-icon">
        <i class="fab fa-facebook-f footer-icon"></i>
        <i class="fab fa-twitter footer-icon"></i>
        <i class="fab fa-instagram footer-icon"></i>
    </div>

    <!--おすすめコースの表示-->
    <div class="recommend">
        <div class="recommend-title">
          <i class="fas fa-shoe-prints"></i>
          <h2>おすすめのコース</h2>
        </div>

        <div class="parent-table">
            <div class="recommend-course">
              <% @favorite_walkcourses.each do |favorite_walkcourse| %>
                <div class="recommend-course">
                    <h3><%= image_tag favorite_walkcourse.coursepic.url, size: '300x200' %></h3>
                    <p><%= favorite_walkcourse.title %></p>
                    <p><%= favorite_walkcourse.description %></p>
                </div>
              <% end %>
            </div>
        </div>
        <a class="btn btn-default btn-block btn-show" href="">もっと見る</a>
    </div>

    <div class="newpost">
        <i class="fas fa-bell"></i>
        <h2>新着コース</h2>
        <div class="parent-table">
          <% @created_walkcourses.each do |created_walkcourse| %>
            <div class="recommend-course">
                <h3><%= image_tag created_walkcourse.coursepic.url, size: '300x200' %></h3>
                <p><%= created_walkcourse.title %></p>
                <p><%= created_walkcourse.description %></p>
            </div>
          <% end %>
        </div>
        <!-- <div class="parent-table">
            <div class="recommend-course">
                <h3>画像</h3>
                <p>記事説明</p>
            </div>
            <div class="recommend-course">
                <h3>画像</h3>
                <p>記事説明</p>
            </div>
            <div class="recommend-course">
                <h3>画像</h3>
                <p>記事説明</p>
            </div>
        </div> -->
        <a class="btn btn-default btn-block btn-show" href="">もっと見る</a>
    </div>

</div>
